{% load markdown %}
<li class="flex items-start p-4 bg-gray-100 rounded-2xl">
    <div class="flex-1">
        {% if comment.user %}
            <div class="font-bold text-sm mb-1">{{ comment.user.userinfo.nickname|default:comment.user }}</div>
        {% endif %}
        <div class="text-lg markdown-body">{{ comment.content|convert_markdown|safe }}</div>
        <div class="text-xs md:text-base lg:text-base font-light text-gray-600 pt-3">{{ comment.created_at|date:"Y/m/d H:i" }}</div>
    </div>
    {% if comment.user == request.user %}
        <button class="text-error w-[18px]"
                hx-post="{% url 'posts:comment_delete' comment.id %}"
                hx-confirm="確認刪除？"
                hx-target="body"
                hx-swap="outerHTML"><i class="fa-solid fa-trash-can"></i></button>
    {% endif %}
</li>

{% if remove_no_comment %}
<li id="remove_no_comment" hx-swap-oob="delete"></li>
{% endif %}