<!DOCTYPE html>
<html>
<head>
    <title>Post List</title>
</head>
<body>
    <h1>Post List</h1>
    <a href="{% url 'post_create' %}">Create New Post</a>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                <a href="{% url 'post_update' post.pk %}">Edit</a>
                <form action="{% url 'post_delete' post.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Delete?');">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
