{% extends "layouts/frontend.html" %}
{% load markdown %}
{% block content %}
<div class="flex justify-center items-center mt-20 h-24 text-center bg-gray-100">
    <h1 class="text-3xl font-bold">{{ post.title }}</h1>
</div>
<div class="container p-5 pb-24 mx-auto">
    <div class="flex gap-5 pb-5 border-b border-gray-300">
        <div class="flex-1 text-lg">作者：{{ post.user }}</div>
        {% include "posts/like.html" with post=post %}
    </div>
    <div class="py-10 markdown-body">{{ post.content|convert_markdown|safe }}</div><br>
    <small>{{ post.created_at|date:"Y/m/d H:i" }}</small><br>
    <a class="text-white btn btn-primary" href="{% url 'posts:edit' post.id %}">修改評論</a>

    <section class="p-5 mt-20 rounded-2xl border border-gray-300">
        <h3 class="pb-5 mb-5 text-xl font-bold border-b border-gray-300">留言</h3>
        {% if comments %}
            <ul id="comments" class="space-y-4">
                {% for comment in comments %}
                    {% include 'posts/comment.html' with comment=comment request=request only %}
                {% endfor %}
            </ul>
        {% else %}
            <ul id="comments" class="space-y-4">
                <li id="remove_no_comment" class="text-center text-gray-300">尚無回覆</li>
            </ul>
        {% endif %}

        {% if user.is_authenticated %}
        <div class="mt-6">
            <form
                hx-target="#comments"
                hx-swap="afterbegin"
                hx-confirm="確認送出留言？"
                hx-on::after-request="this.reset();"
                hx-post="{% url 'posts:show' post.id %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button  class="text-white btn btn-primary" type="submit">確定</button>
            </form>
        </div>
        {% else %}
        <p class="text-red-500">請先登入</p>
        <a class="text-white btn btn-secondary" href="{% url 'users:sign_in' %}?next={{ request.path }}">登入</a>
        {% endif %}
    </section>

    <div class="mt-6">
        <a class="text-white btn btn-neutral" href="{% url 'companies:post_index' post.company.id %}">回到列表</a>
    </div>
</div>
{% endblock %}
