{% extends 'layouts/base.html' %}

{% block content %}
<div class="flex items-center justify-center h-24 mt-20 text-center bg-gray-100">
    <h1 class="text-3xl font-bold">應徵紀錄</h1>
</div>

<div class="container p-5 pb-24 mx-auto">
    <p>總共有 {{ applications|length }} 份求職履歷。</p>
    {% if applications %}
    <div class="mt-5 overflow-x-auto">
        <table class="table">
            <thead>
                <tr class="text-base text-center">
                    <th></th>
                    <th>職缺</th>
                    <th>應徵者名字</th>
                    <th>應徵日期</th>
                    <th>履歷</th>
                    <th>聯絡</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ application.job.title }}</td>
                        <td>{{ application.resume.userinfo.nickname }}</td>
                        <td>{{ application.created_at }}</td>
                        <td>
                            <a href="{{ application.resume.file.url }}" target="_blank" class="text-blue-500 hover:underline">查看履歷</a>
                        </td>
                        <td>
                            <a href="mailto:{{ application.resume.userinfo.user.email }}?subject=誠摯邀請您前來面試&body={{ application.resume.userinfo.nickname }}您好，%0A%0A我們非常榮幸收到了您的履歷，對於您的專業背景及經歷感到十分欣賞。我們誠摯地邀請您來參加面試，讓我們能更深入瞭解您，也想趁這個機會向您介紹我們公司。%0A%0A請您告知方便面試的時間，期待與您見面！%0A%0A謝謝，並祝一切順利。%0A%0A{{application.job.company.title}}公司">寄信聯絡</a>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="py-5 text-center"><p>該職缺尚無應徵</p></div>
    {% endif %}
</div>

{% endblock %}