{% extends "layouts/base.html" %} {% block content %}
<div class="mt-20 h-24 text-center bg-gray-100 flex justify-center items-center">
  <h1 class="text-3xl font-bold">編輯公司資料</h1>
</div>
<div class="container p-5 pb-24 mx-auto">
  <form method="POST" action="{% url 'companies:show' company.id %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="mt-4">{{ field.label }} {{ field }} {{ field.errors }}</div>
    {% endfor %}
    <div class="mt-4"><button class="btn btn-primary text-white min-w-20">確認修改</button></div>
  </form>
</div>
{% endblock %}
