{% extends "layouts/base.html" %} {% block content %}
<div class="flex items-center justify-center h-44 md:h-80 lg:h-80 text-center relative overflow-hidden">
  <h1 class="text-3xl md:text-5xl lg:text-5xl text-white font-bold relative z-20">公司資料</h1>
  <div class="absolute z-10 m-auto inset-0 bg-cover bg-banner-img bg-center bg-fixed"></div>
  <div class="absolute z-10 m-auto inset-0 bg-gradient-to-b from-[rgba(68,157,209,0.9)] to-[rgba(0,51,107,0.9)]"></div>
</div>
<div class="bg-[#eef0f0]">
  <div class="container px-5 pt-10 pb-16 lg:pt-20 lg:pb-24 mx-auto">
    <div class="bg-white rounded-xl  md:rounded-3xl  lg:rounded-3xl px-5 py-7 md:p-10 lg:p-10">
      <div class="text-error text-lg mb-5">* 為必填項目</div>
      <form method="POST" action="{% url 'companies:show' company.id %}">
          {% csrf_token %}

          <div class="flex flex-wrap gap-3 md:gap-5 lg:gap-5 mb-10 md:mb-16 lg:mb-16">
              <div class="w-full md:w-calc-data lg:w-calc-data">
                <div class="text-sm md:text-base lg:text-base text-primary">{{ form.title.label }} <span class="text-error">*</span></div>
                <div class="">{{ form.title }}</div>
                <div class="text-error text-xl">{{ form.title.errors }}</div>
              </div>
              <div class="w-full md:w-calc-data lg:w-calc-data">
                <div class="text-sm md:text-base lg:text-base text-primary">{{ form.tel.label }} <span class="text-error">*</span></div>
                <div class="">{{ form.tel }}</div>
                <div class="text-error text-xl">{{ form.tel.errors }}</div>
              </div>
              <div class="w-full md:w-calc-data lg:w-calc-data">
                <div class="text-sm md:text-base lg:text-base text-primary">{{ form.url.label }} <span class="text-error">*</span></div>
                <div class="">{{ form.url }}</div>
                <div class="text-error text-xl">{{ form.url.errors }}</div>
              </div>
              <div class="w-full md:w-calc-data lg:w-calc-data">
                <div class="text-sm md:text-base lg:text-base text-primary">{{ form.address.label }} <span class="text-error">*</span></div>
                <div class="">{{ form.address }}</div>
                <div class="text-error text-xl">{{ form.address.errors }}</div>
              </div>
              <div class="w-full">
                <div class="text-sm md:text-base lg:text-base text-primary">{{ form.description.label }} <span class="text-error">*</span></div>
                <div class="">{{ form.description }}</div>
                <div class="text-error text-xl">{{ form.description.errors }}</div>
              </div>
              <div class="w-full md:w-calc-data lg:w-calc-data">
                <div class="text-sm md:text-base lg:text-base text-primary">{{ form.employees.label }} <span class="text-error">*</span></div>
                <div class="">{{ form.employees }}</div>
                <div class="text-error text-xl">{{ form.employees.errors }}</div>
              </div>
              <div class="w-full md:w-calc-data lg:w-calc-data">
                <div class="text-sm md:text-base lg:text-base text-primary">{{ form.name.label }} <span class="text-error">*</span></div>
                <div class="">{{ form.name }}</div>
                <div class="text-error text-xl">{{ form.name.errors }}</div>
              </div>
              <div class="w-full md:w-calc-data lg:w-calc-data">
                <div class="text-sm md:text-base lg:text-base text-primary">{{ form.email.label }} <span class="text-error">*</span></div>
                <div class="">{{ form.email }}</div>
                <div class="text-error text-xl">{{ form.email.errors }}</div>
              </div>
          </div>

          <div class="flex gap-5 justify-center">
            <button class="btn btn-primary btn-sm md:btn-lg lg:btn-lg md:min-w-28 lg:min-w-28">確認修改</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}