{% extends "layouts/base.html" %}
{% block content %}
<div class="flex items-center justify-center h-24 mt-20 text-center bg-gray-100">
    <h1 class="text-3xl font-bold">公司首頁</h1>
</div>

<div class="container p-5 pb-24 mx-auto">
    <ul class="mt-6 divide-y divide-slate-200">
        {% for item in page_obj %}
            <li class="flex gap-2 p-5">
                <div class="flex-1">
                    <a href="{% url 'companies:show' item.company.id %}">{{ item.company.title }}</a>
                </div>
                <div class="flex gap-2">
                    <a class="text-white btn btn-primary btn-sm" href="{% url 'companies:edit' item.company.id %}">編輯</a>
                    {%include "companies/favorite.html" with company=item.company favorited=item.favorited only %}
                    <form method="post" action="{% url 'companies:delete' item.company.id %}">
                        {% csrf_token %}
                        <button class="text-white btn btn-error btn-sm">刪除</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% include 'shared/_pagination.html' %}
</div>

{% endblock %}
