{% extends "layouts/base.html" %} {% block content %}
{% load static %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=marker" async defer></script>
<div class="relative flex items-center justify-center overflow-hidden text-center h-44 md:h-80 lg:h-80">
  <h1 class="relative z-20 px-5 text-3xl font-bold text-white md:text-5xl lg:text-5xl">{{ company.title }}</h1>
  <div class="absolute inset-0 z-10 m-auto bg-fixed bg-center bg-cover bg-banner-img"></div>
  <div class="absolute z-10 m-auto inset-0 bg-gradient-to-b from-[rgba(68,157,209,0.9)] to-[rgba(0,51,107,0.9)]"></div>
</div>
<div x-data="{ activeTab: 'tab1' }" class="flex-1 bg-[#eef0f0]">
  <div>
    <div class="container px-5 pt-10 pb-16 mx-auto lg:pt-20 lg:pb-24">
      <div class="flex justify-between border-b border-[#cccccc]">
        <div class="flex gap-2">
          <span @click="activeTab = 'tab1'" :class="{ 'border-secondary border-b-4 text-secondary font-bold': activeTab === 'tab1' }" class="flex-auto inline-block min-w-0 pb-5 px-2 text-base text-center cursor-pointer md:min-w-28 lg:min-w-52 md:text-lg lg:text-xl md:flex-none lg:flex-none">公司介紹</span>
          <span @click="activeTab = 'tab2'" :class="{ 'border-secondary border-b-4 text-secondary font-bold': activeTab === 'tab2' }" class="flex-auto inline-block min-w-0 pb-5 px-2 text-base text-center cursor-pointer md:min-w-28 lg:min-w-52 md:text-lg lg:text-xl md:flex-none lg:flex-none">公司評論</span>
        </div>
        {% if company == request.user.company %}
          <div>
            <a href="{% url 'companies:edit' request.user.company.id  %}" class="flex-auto text-base rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl min-w-20  lg:min-w-24 lg:flex-none">編輯</a>
          </div>
        {% endif %}
      </div>
      <div x-show="activeTab === 'tab1'">
        <div class="flex flex-col items-start gap-6 mb-10 mt-14 md:flex-row lg:flex-row md:gap-12 lg:gap-12 md:items-start lg:items-center md:mb-14 lg:mb-14">
          <div class="max-w-[200px] w-1/2 md:w-1/3 lg:w-1/4 aspect-square overflow-hidden rounded-3xl bg-gray-300 relative m-auto">
              {% if company.images %}
                  <img class="absolute w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="{{ company.images.url }}" alt="Company Image">
              {% else %}
                  <img class="absolute w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="{% static 'imgs/logo.png' %}" alt="Default Image">
              {% endif %}
          </div>
          <div class="flex-1">
            <div class="flex flex-wrap gap-3 md:gap-5 lg:gap-5">
              <div class="w-full flex justify-between">
                <div>
                  {% if company.score > 0 %}
                    <div class="inline-flex items-center px-2.5 py-1 align-top rounded-full bg-secondary">
                      <i class="text-sm fa-solid fa-star text-warning md:text-md lg:text-md"></i>
                      <span class="ml-1 text-sm font-bold text-white md:text-lg lg:text-lg">{{ company.score }}</span>
                    </div>
                  {% endif %}
                </div>
                <div class="text-2xl">
                  {% if request.user.is_authenticated and request.user.type == 1 %}
                      {%include "companies/favorite.html" with company=company favorited=company.favorited only %}
                  {% endif %}
                </div>
              </div>
              <div class="flex w-full md:w-full lg:w-calc-data">
                <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">負責人</div>
                <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl">{{ company.name }}</div>
              </div>
              <div class="flex w-full md:w-full lg:w-calc-data">
                <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">Email</div>
                <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl"><a href="mailto:{{ company.email }}" target="_blank" class="underline text-secondary">{{ company.email }}</a></div>
              </div>
              <div class="flex w-full md:w-full lg:w-calc-data">
                <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">公司地址</div>
                <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl">{{ company.address }}</div>
              </div>
              <div class="flex w-full md:w-full lg:w-calc-data">
                <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">公司網址</div>
                <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl">
                  <a href="{{ company.url }}" target="_blank" class="underline text-secondary">{{ company.url }}</a>
                </div>
              </div>
              <div class="flex w-full md:w-full lg:w-calc-data">
                <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">公司電話</div>
                <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl">{{ company.tel }}</div>
              </div>
              <div class="flex w-full md:w-full lg:w-calc-data">
                <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">員工人數</div>
                <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl">{{ company.employees }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <h2 class="pb-5 text-base font-bold min-w-24 md:text-xl lg:text-xl">公司位置</h2>
          <div id="map" class="w-full aspect-16/5 md:aspect-32/5 lg:aspect-32/5" data-latitude="{{ company.latitude }}" data-longitude="{{ company.longitude }}" data-company-title="{{ company.title }}"></div>
          <div id="map-error" class="hidden text-red-500">無法顯示地圖，公司位置出現錯誤</div>
        </div>
        <div class="py-5 mb-10 text-base font-light md:text-xl lg:text-xl md:mb-20 lg:mb-20">
          <div class="leading-loose">{{ company.description }}</div>
        </div>
        <div class="mb-10 md:mb-20 lg:mb-20">
          <div class="flex justify-between mb-4 md:mb-7 lg:mb-7">
            <h2 class="text-xl font-medium md:text-2xl lg:text-3xl">公司職缺列表</h2>
            {% if request.user.is_authenticated and request.user == company.user %}
              <a class="text-base rounded-full btn btn-secondary btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl min-w-20 md:min-w-24 lg:min-w-24" href="{% url 'companies:jobs_new' company.id %}"><i class="fa-solid fa-plus"></i> 新增職缺</a>
            {% elif jobs|length > 0  %}
              <a class="text-base rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl min-w-20 md:min-w-24 lg:min-w-24" href="{% url 'companies:jobs_index' company.id %}">全部職缺</a>
            {% endif %}
          </div>
          <ul class="flex flex-wrap gap-5 md:gap-7 lg:gap-7">
            <!--card-->
            {% for job in jobs %}
              <li class="relative rounded-xl md:rounded-3xl lg:rounded-3xl bg-white border border-[#e7e8eb] p-6 w-full box-border">
                <div class="flex items-center">
                  <div class="box-border flex-1 pr-4 md:pr-4 lg:pr-4">
                    <h2 class="text-xl font-semibold md:text-2xl lg:text-2xl"><a href="{% url 'jobs:show' job.id %}">{{ job.title }}</a></h2>
                  </div>
                  {% if  request.user.is_authenticated and request.user.type == 1 %}
                    <div class="flex absolute top-2.5 right-3 gap-2 text-2xl md:lg:static lg:static">
                      {% include "shared/job_favorite.html" with favorited=job.favorited%}
                    </div>
                  {% endif %}
                </div>
                <p class="mt-2 text-base font-light text-gray-600 md:mt-4 lg:mt-4 md:text-lg lg:text-lg line-clamp-2">{{ job.description }}</p>
                <div class="flex flex-wrap gap-1 mt-2 text-base font-light md:mt-4 lg:mt-4 md:gap-1.5 lg:gap-2.5">
                  <span class="bg-[#fff7c7] px-2 md:px-3 lg:px-3 py-1 rounded-full text-black text-sm md:text-base lg:text-base">{{ job.type }}</span>
                  <span class="bg-[#e5eaf0] px-2 md:px-3 lg:px-3 py-1 rounded-full text-primary text-sm md:text-base lg:text-base">
                    <a href="{% url 'jobs:search_results' %}?location={{job.location}}">
                    <i class="text-xs fa-solid fa-location-dot md:text-sm lg:text-sm"></i>
                    {{ job.location_label }}</a>
                  </span>
                  <span class="bg-[#e5eaf0] px-2 md:px-3 lg:px-3 py-1 rounded-full text-primary text-sm md:text-base lg:text-base"><i class="text-xs fa-solid fa-sack-dollar md:text-sm lg:text-sm"></i> ${{ job.salary }} / 月</span>
                </div>
                <div class="flex flex-col items-start justify-between gap-4 mt-6 lg:flex-row lg:items-center md:mt-4 lg:mt-4">
                  <div class="text-xs font-light text-gray-500 md:text-base lg:text-base">{{ job.created_at|date:"Y/m/d" }}</div>
                  {% if request.user.type != 2 and not job.apply %}
                  <div class="flex w-full gap-2 md:gap-4 lg:gap-4 lg:w-auto">
                      <form action="{% url 'users:apply_jobs' job.id %}" method="POST" class="flex flex-auto gap-2 md:gap-4 lg:gap-4">
                        {% csrf_token%}
                        <button class="flex-auto text-base rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl min-w-20 md:min-w-24 lg:min-w-24 lg:flex-none">應徵</button>
                      </form>
                  </div>
                  {% endif %}
                </div>
              </li>
            {% endfor %}
            {% if jobs|length == 0 %}
              <li class="text-center">目前沒有職缺</li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div x-show="activeTab === 'tab2'">
        <div class="mb-10 md:mb-20 lg:mb-20">
          <div class="flex justify-end gap-2 mb-4 mt-14 md:mb-7 lg:mb-7 lg:gap-5">
            {% if  request.user.is_authenticated and request.user.type == 1 %}
              <a class="text-base rounded-full btn btn-secondary btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl min-w-20 md:min-w-24 lg:min-w-24" href="{% url 'companies:post_new' company.id %}"><i class="fa-solid fa-plus"></i> 新增評論</a>
            {% endif %}
            {% if posts|length > 0 %}
              <a class="text-base rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl min-w-20 md:min-w-24 lg:min-w-24" href="{% url 'companies:post_index' company.id %}">全部評論</a>
            {% endif %}
          </div>
          <ul class="flex flex-col gap-6 md:gap-8 lg:gap-8">
            <!--card-->
            {% for post in posts %}
              <li class="relative rounded-xl md:rounded-3xl lg:rounded-3xl bg-white border border-[#e7e8eb] p-6 w-full box-border">
                <div class="flex flex-col gap-2 md:flex-row lg:flex-row md:gap-7 lg:gap-7">
                  <h2 class="flex-auto text-xl font-semibold md:text-2xl lg:text-2xl hover:underline"><a href="{% url 'posts:show' post.id %}">{{ post.title }}</a></h2>
                  <div class="flex items-center">
                    <span class="self-center">{{ post.user }}</span>
                    <div class="w-px h-4 bg-[#cccccc] mx-2"></div>
                    <i class="text-base fa-solid fa-star text-warning md:text-lg lg:text-lg"></i>
                    <span class="ml-1 text-base font-light md:text-lg lg:text-lg">{{ post.score }}</span>
                  </div>
                </div>
                <p class="mt-2 text-base font-light text-black md:mt-4 lg:mt-4 md:text-lg lg:text-lg line-clamp-2">{{ post.content }}</p>
                <div class="flex flex-col gap-4 justify-between items-start mt-6 lg:flex-row lg:items-center md:mt-4 lg:mt-4">
                  <div class="text-xs font-light text-gray-500 md:text-base lg:text-base">{{ post.created_at|date:"Y/m/d" }}</div>
                  <div class="flex w-full gap-2 md:gap-4 lg:gap-4 lg:w-auto">
                    <a href="{% url 'posts:show' post.id %}" class="flex-auto text-base rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl min-w-20 md:min-w-24 lg:min-w-24 lg:flex-none">詳細</a>
                    {% if post.can_edit %}
                      <a class="flex-auto text-base rounded-full btn btn-secondary btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl lg:flex-none" href="{% url 'posts:edit' post.id %}"><i class="text-base fa-solid fa-pen lg:text-base"></i></a>
                      <form
                        class="flex flex-auto gap-2 md:gap-4 lg:gap-4"
                        hx-post="{% url 'posts:delete' post.id %}"
                        hx-confirm="確認刪除？"
                        hx-target="body"
                      >
                        {% csrf_token %}
                        <button class="flex-auto text-base rounded-full btn btn-error btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl lg:flex-none" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                      </form>
                    {% endif %}
                  </div>
                </div>
              </li>
            {% endfor %}
            {% if posts|length == 0 %}
              <li class="text-center">目前沒有評論</li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="flex justify-center gap-5">
        <a class="btn btn-primary btn-sm md:btn-lg lg:btn-lg md:min-w-28 lg:min-w-28" href="{% url 'companies:index' %}">返回列表</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}