{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
    <script src="{% static 'scripts/app.js' %}" type="module"></script>
    <link href="{% static 'styles/styles.css' %}" rel="stylesheet">
  </head>
  <body class="flex flex-col min-h-screen" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "shared/navbar.html" %}
    {% include "shared/message.html" %}
    <main class="flex-grow">{% block content %}{% endblock %}</main>
    {% include "shared/footer.html" %}
  </body>
</html>