{%extends "layouts/base.html"%}
  {% block content %}
  <div class="relative flex items-center justify-center overflow-hidden text-center h-44 md:h-80 lg:h-80">
    <h1 class="relative z-20 text-3xl font-bold text-white md:text-5xl lg:text-5xl">喜愛的公司</h1>
    <div class="absolute inset-0 z-10 m-auto bg-fixed bg-center bg-cover bg-banner-img"></div>
    <div class="absolute z-10 m-auto inset-0 bg-gradient-to-b from-[rgba(68,157,209,0.9)] to-[rgba(0,51,107,0.9)]"></div>
</div>
     <div class="container p-5 pb-24 mx-auto">
      {% if favorites %}
        <ul class="mt-6 divide-y divide-slate-200">
           {%  for favorite in favorites %}
              <li class="flex gap-2 p-5">
                <div class="flex-1">
                  <a href="{% url 'companies:show' favorite.company.id %}">公司名稱：{{favorite.company.title}}</a>
                </div>
                <div class="flex gap-2">
                  <form action="{%  url 'users:favorite_company_delete' favorite.id %}" method="POST" >
                    {% csrf_token %}
                      <button class="text-white btn btn-error btn-sm">取消收藏</button>
                  </form>
                </div>
              </li>
            {% endfor %}
          </ul>
      {%else%}
        <p>沒有收藏公司? 趕快點我去<a a class="btn btn-link" href="{% url 'companies:index' %}">趕快點我去尋找!!!</a></p>
      {%endif%}
     </div>
  {% endblock%}