{% extends "layouts/base.html" %}
{% block content %}
<div class="flex overflow-hidden relative justify-center items-center h-44 text-center md:h-80 lg:h-80">
    <h1 class="relative z-20 text-3xl font-bold text-white md:text-5xl lg:text-5xl">我的職缺收藏</h1>
    <div class="absolute inset-0 z-10 m-auto bg-fixed bg-center bg-cover bg-banner-img"></div>
    <div class="absolute z-10 m-auto inset-0 bg-gradient-to-b from-[rgba(68,157,209,0.9)] to-[rgba(0,51,107,0.9)]"></div>
</div>
<div class="container p-5 pb-24 mx-auto">
    {% if favorites %}
        <ul class="mt-6 divide-y divide-slate-200">
            {% for favorite in favorites %}
                <li class="flex gap-2 p-5">
                    <div class="flex-1">
                        <a href="{% url 'jobs:show' favorite.job.id %}">職缺名稱: {{ favorite.job.title }}</a>
                        <p>工作地點: {{ favorite.job.get_location_display }}</p>
                    </div>
                    <div class="flex gap-2">
                        <form method="POST" action="{% url 'users:favorites_delete' favorite.id %}">
                            {% csrf_token %}
                            <button class="text-white btn btn-error btn-sm">取消收藏</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>沒有收藏職缺? <a class="btn btn-secondary" href="{% url 'jobs:index' %}">趕快點我去尋找!!!</a></p>
    {% endif %}
</div>
{% endblock %}