{% extends "layouts/base.html" %}
{% block content %}
  {% load static %}
  <div class="relative h-dvh lg:h-[780px] w-full">
    <div class="relative z-10 w-full h-full bg-fixed bg-center bg-cover bg-banner-img"></div>
    <div class="absolute z-20 inset-0 bg-gradient-to-b from-[rgba(68,157,209,0.9)] to-[rgba(0,51,107,0.9)]"></div>
    <div class="absolute z-20 inset-0 mx-auto flex flex-col justify-center px-5 text-white z-20 max-w-[1280px]">
      <div class="mb-10 text-center md:mb-20 lg:mb-24">
        <h1 class="text-3xl font-bold md:text-5xl lg:text-7xl">數百萬的工作機會</h1>
        <p class="mt-2 text-base md:mt-4 lg:mt-4 md:text-xl lg:text-2xl">給您最真實、自由的評論，讓我們為您找到適合的工作</p>
      </div>
      <form action="{% url 'jobs:search_results' %}" method="GET" class="flex flex-col w-full gap-1 px-4 pt-2 pb-4 bg-white shadow-md md:flex-row lg:flex-row md:items-center lg:items-center md:p-3 lg:p-4 md:gap-4 lg:gap-4 rounded-xl md:rounded-full lg:rounded-full">
        <div class="flex items-center flex-1">
          <div class="w-5 text-base text-center text-black md:w-7 lg:w-7 md:text-2xl lg:text-2xl"><i class="fa-solid fa-magnifying-glass"></i></div>
          <input type="text" name="q" placeholder="請輸入工作名稱或公司" class="w-full px-2 py-2 text-base text-gray-500 placeholder-gray-500 bg-transparent border-transparent outline-none md:text-lg lg:text-lg" value="{{ request.GET.q }}"/>
        </div>
        <div class="w-full h-px bg-gray-300 md:w-px lg:w-px md:h-8 lg:h-8"></div>
        <div class="flex items-center flex-1">
          <div class="w-5 text-base text-center text-black md:w-7 lg:w-7 md:text-2xl lg:text-2xl"><i class="fa-solid fa-location-dot"></i></div>
          <input type="text" name="location" placeholder="請輸入地點" class="w-full px-2 py-2 text-base text-gray-500 placeholder-gray-500 bg-transparent border-transparent outline-none md:text-lg lg:text-lg" value="{{ request.GET.location }}"/>
        </div>
        <div class="mt-2 md:m-0 lg:m-0">
          <button class="w-full btn btn-primary btn-sm md:btn-lg lg:btn-lg md:w-auto lg:w-auto md:min-w-28 lg:min-w-28">搜尋</button>
        </div>
      </form>
      <div class="mt-4 flex flex-wrap gap-1.5 md:gap-5 lg:gap-5">
        <a href="{% url 'jobs:search_results' %}?q=Python" class="px-3 py-1 md:px-5 lg:px-5 md:py-2 lg:py-2 bg-white-20 text-sm md:text-base lg:text-base text-white font-light border-[#6d86a4] border rounded-full">Python</a>
        <a href="{% url 'jobs:search_results' %}?q=PHP" class="px-3 py-1 md:px-5 lg:px-5 md:py-2 lg:py-2 bg-white-20 text-sm md:text-base lg:text-base text-white font-light border-[#6d86a4] border rounded-full">PHP</a>
        <a href="{% url 'jobs:search_results' %}?q=Ruby" class="px-3 py-1 md:px-5 lg:px-5 md:py-2 lg:py-2 bg-white-20 text-sm md:text-base lg:text-base text-white font-light border-[#6d86a4] border rounded-full">Ruby</a>
        <a href="{% url 'jobs:search_results' %}?q=Javascript" class="px-3 py-1 md:px-5 lg:px-5 md:py-2 lg:py-2 bg-white-20 text-sm md:text-base lg:text-base text-white font-light border-[#6d86a4] border rounded-full">Javascript</a>
      </div>
    </div>
    <div class="absolute inset-x-0 z-20 text-center text-white bottom-4 md:bottom-14 lg:bottom-14">
      <div class="relative w-5 h-8 mx-auto border border-white rounded-full md:w-7 lg:w-7 md:h-11 lg:h-11 lg:border-2">
        <div class="w-0.5 md:w-1 lg:w-1 h-2 md:h-4 lg:h-4 bg-white rounded-full absolute bottom-2 left-1/2 ml-[-1px] md:ml-[-2px] lg:ml-[-2px] animate-bounce"></div>
      </div>
      <div class="mt-2 text-xs font-light md:text-base lg:text-base">往下滑精彩不斷</div>
    </div>
  </div>

  <!-- 熱門職缺 -->
  <div class="px-5 py-10 md:py-16 lg:py-24">
    <div class="container mx-auto">
      <h2 class="mb-5 text-2xl font-bold lg:text-3xl lg:mb-9">熱門職缺</h2>
      <div class="flex flex-wrap gap-5 md:gap-7 lg:gap-10">
        <!--card-->
        <div class="relative border border-[#cccccc] rounded-xl md:rounded-3xl lg:rounded-3xl p-5 md:p-6 lg:p-6 bg-white w-full md:w-calc-card lg:w-calc-card box-border">
          <div class="items-center block md:flex lg:flex">
            <div class="relative w-20 h-20 mx-auto overflow-hidden bg-gray-200 rounded-full md:mx-0 lg:mx-0">
              <img src="{% static 'imgs/logo.png' %}" alt="公司圖標" class="absolute w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            </div>
            <div class="box-border flex-1 pt-6 md:pt-0 lg:pt-0 md:px-4 lg:px-4">
              <h2 class="text-xl font-semibold md:text-2xl lg:text-2xl">Python後端工程師</h2>
              <p class="text-sm font-light text-gray-600 md:text-base lg:text-base">麥當勞 McDonald's</p>
            </div>
            <div class="flex gap-2 text-2xl absolute top-2.5 right-3 md:lg:static lg:static">
              <div class="text-[#cccccc] cursor-pointer"><i class="fa-regular fa-heart"></i></div>
            </div>
          </div>
          <div class="mt-2 md:mt-4 lg:mt-4 flex flex-wrap gap-1 md:gap-1.5 lg:gap-2.5 text-base font-light">
            <span class="bg-[#fff7c7] px-2 md:px-3 lg:px-3 py-1 rounded-full text-black text-sm md:text-base lg:text-base">遠距</span>
            <span class="bg-[#e5eaf0] px-2 md:px-3 lg:px-3 py-1 rounded-full text-primary text-sm md:text-base lg:text-base"><i class="text-xs fa-solid fa-location-dot md:text-sm lg:text-sm"></i> 台北市</span>
            <span class="bg-[#e5eaf0] px-2 md:px-3 lg:px-3 py-1 rounded-full text-primary text-sm md:text-base lg:text-base"><i class="text-xs fa-solid fa-sack-dollar md:text-sm lg:text-sm"></i> $50,000 / 月</span>
          </div>
          <div class="flex items-center justify-between mt-6 md:mt-4 lg:mt-4">
            <div class="text-xs font-light text-gray-500 md:text-base lg:text-base">2024/07/12</div>
            <button class="rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md min-w-20 md:min-w-24 lg:min-w-24">應徵</button>
          </div>
        </div>
        <!--card-->
        <div class="relative border border-[#cccccc] rounded-xl md:rounded-3xl lg:rounded-3xl p-5 md:p-6 lg:p-6 bg-white w-full md:w-calc-card lg:w-calc-card box-border">
          <div class="items-center block md:flex lg:flex">
            <div class="relative w-20 h-20 mx-auto overflow-hidden bg-gray-200 rounded-full md:mx-0 lg:mx-0">
              <img src="{% static 'imgs/logo.png' %}" alt="公司圖標" class="absolute w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            </div>
            <div class="box-border flex-1 pt-6 md:pt-0 lg:pt-0 md:px-4 lg:px-4">
              <h2 class="text-xl font-semibold md:text-2xl lg:text-2xl">Python後端工程師</h2>
              <p class="text-sm font-light text-gray-600 md:text-base lg:text-base">麥當勞 McDonald's</p>
            </div>
            <div class="flex gap-2 text-2xl absolute top-2.5 right-3 md:lg:static lg:static">
              <div class="text-[#cccccc] cursor-pointer"><i class="fa-regular fa-heart"></i></div>
            </div>
          </div>
          <div class="mt-2 md:mt-4 lg:mt-4 flex flex-wrap gap-1 md:gap-1.5 lg:gap-2.5 text-base font-light">
            <span class="bg-[#fff7c7] px-2 md:px-3 lg:px-3 py-1 rounded-full text-black text-sm md:text-base lg:text-base">遠距</span>
            <span class="bg-[#e5eaf0] px-2 md:px-3 lg:px-3 py-1 rounded-full text-primary text-sm md:text-base lg:text-base"><i class="text-xs fa-solid fa-location-dot md:text-sm lg:text-sm"></i> 台北市</span>
            <span class="bg-[#e5eaf0] px-2 md:px-3 lg:px-3 py-1 rounded-full text-primary text-sm md:text-base lg:text-base"><i class="text-xs fa-solid fa-sack-dollar md:text-sm lg:text-sm"></i> $50,000 / 月</span>
          </div>
          <div class="flex items-center justify-between mt-6 md:mt-4 lg:mt-4">
            <div class="text-xs font-light text-gray-500 md:text-base lg:text-base">2024/07/12</div>
            <button class="rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md min-w-20 md:min-w-24 lg:min-w-24">應徵</button>
          </div>
        </div>
        <!--card-->
        <div class="relative border border-[#cccccc] rounded-xl md:rounded-3xl lg:rounded-3xl p-5 md:p-6 lg:p-6 bg-white w-full md:w-calc-card lg:w-calc-card box-border">
          <div class="items-center block md:flex lg:flex">
            <div class="relative w-20 h-20 mx-auto overflow-hidden bg-gray-200 rounded-full md:mx-0 lg:mx-0">
              <img src="{% static 'imgs/logo.png' %}" alt="公司圖標" class="absolute w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            </div>
            <div class="box-border flex-1 pt-6 md:pt-0 lg:pt-0 md:px-4 lg:px-4">
              <h2 class="text-xl font-semibold md:text-2xl lg:text-2xl">Python後端工程師</h2>
              <p class="text-sm font-light text-gray-600 md:text-base lg:text-base">麥當勞 McDonald's</p>
            </div>
            <div class="flex gap-2 text-2xl absolute top-2.5 right-3 md:lg:static lg:static">
              <div class="text-[#cccccc] cursor-pointer"><i class="fa-regular fa-heart"></i></div>
            </div>
          </div>
          <div class="mt-2 md:mt-4 lg:mt-4 flex flex-wrap gap-1 md:gap-1.5 lg:gap-2.5 text-base font-light">
            <span class="bg-[#fff7c7] px-2 md:px-3 lg:px-3 py-1 rounded-full text-black text-sm md:text-base lg:text-base">遠距</span>
            <span class="bg-[#e5eaf0] px-2 md:px-3 lg:px-3 py-1 rounded-full text-primary text-sm md:text-base lg:text-base"><i class="text-xs fa-solid fa-location-dot md:text-sm lg:text-sm"></i> 台北市</span>
            <span class="bg-[#e5eaf0] px-2 md:px-3 lg:px-3 py-1 rounded-full text-primary text-sm md:text-base lg:text-base"><i class="text-xs fa-solid fa-sack-dollar md:text-sm lg:text-sm"></i> $50,000 / 月</span>
          </div>
          <div class="flex items-center justify-between mt-6 md:mt-4 lg:mt-4">
            <div class="text-xs font-light text-gray-500 md:text-base lg:text-base">2024/07/12</div>
            <button class="rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md min-w-20 md:min-w-24 lg:min-w-24">應徵</button>
          </div>
        </div>
        <!--card-->
        <div class="relative border border-[#cccccc] rounded-xl md:rounded-3xl lg:rounded-3xl p-5 md:p-6 lg:p-6 bg-white w-full md:w-calc-card lg:w-calc-card box-border">
          <div class="items-center block md:flex lg:flex">
            <div class="relative w-20 h-20 mx-auto overflow-hidden bg-gray-200 rounded-full md:mx-0 lg:mx-0">
              <img src="{% static 'imgs/logo.png' %}" alt="公司圖標" class="absolute w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            </div>
            <div class="box-border flex-1 pt-6 md:pt-0 lg:pt-0 md:px-4 lg:px-4">
              <h2 class="text-xl font-semibold md:text-2xl lg:text-2xl">Python後端工程師</h2>
              <p class="text-sm font-light text-gray-600 md:text-base lg:text-base">麥當勞 McDonald's</p>
            </div>
            <div class="flex gap-2 text-2xl absolute top-2.5 right-3 md:lg:static lg:static">
              <div class="text-[#cccccc] cursor-pointer"><i class="fa-regular fa-heart"></i></div>
            </div>
          </div>
          <div class="mt-2 md:mt-4 lg:mt-4 flex flex-wrap gap-1 md:gap-1.5 lg:gap-2.5 text-base font-light">
            <span class="bg-[#fff7c7] px-2 md:px-3 lg:px-3 py-1 rounded-full text-black text-sm md:text-base lg:text-base">遠距</span>
            <span class="bg-[#e5eaf0] px-2 md:px-3 lg:px-3 py-1 rounded-full text-primary text-sm md:text-base lg:text-base"><i class="text-xs fa-solid fa-location-dot md:text-sm lg:text-sm"></i> 台北市</span>
            <span class="bg-[#e5eaf0] px-2 md:px-3 lg:px-3 py-1 rounded-full text-primary text-sm md:text-base lg:text-base"><i class="text-xs fa-solid fa-sack-dollar md:text-sm lg:text-sm"></i> $50,000 / 月</span>
          </div>
          <div class="flex items-center justify-between mt-6 md:mt-4 lg:mt-4">
            <div class="text-xs font-light text-gray-500 md:text-base lg:text-base">2024/07/12</div>
            <button class="rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md min-w-20 md:min-w-24 lg:min-w-24">應徵</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 熱門企業 -->
  <div class="py-10 md:py-16 lg:py-24 px-5 bg-[#faf6eb]">
    <div class="container mx-auto">
      <h2 class="mb-5 text-2xl font-bold lg:text-3xl lg:mb-9">熱門企業</h2>
      <div class="flex flex-wrap gap-5 md:gap-7 lg:gap-10">
        <!--card-->
        <div class="box-border relative w-full p-6 bg-white rounded-xl md:rounded-3xl lg:rounded-3xl shadow-custom-light md:w-calc-card lg:w-calc-card">
          <div class="items-center block md:flex lg:flex">
            <div class="relative w-20 h-20 mx-auto overflow-hidden bg-gray-200 rounded-full md:mx-0 lg:mx-0">
              <img src="{% static 'imgs/logo.png' %}" alt="公司圖標" class="absolute w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            </div>
            <div class="box-border flex-1 pt-6 md:pt-0 lg:pt-0 md:px-4 lg:px-4">
              <h2 class="text-xl font-semibold md:text-2xl lg:text-2xl">肯德基 KFC</h2>
              <div class="flex items-center mt-px">
                <i class="text-base fa-solid fa-star text-warning md:text-lg lg:text-lg"></i>
                <span class="ml-2 text-base font-light md:text-xl lg:text-xl">4.9</span>
                <div class="w-px h-4 bg-[#cccccc] mx-2"></div>
                <span class="text-base font-light md:text-xl lg:text-xl">20個評論</span>
              </div>
            </div>
            <div class="flex gap-2 text-2xl absolute top-2.5 right-3 md:lg:static lg:static">
              <div class="text-[#cccccc] cursor-pointer"><i class="fa-regular fa-heart"></i></div>
            </div>
          </div>
          <div class="flex items-center justify-between mt-4">
            <div class="text-sm md:text-lg lg:text-lg font-light text-black flex-1 line-clamp-2 pr-2.5">
                這是一家以炸雞等為主要產品的美國速食連鎖企業。全球150個國家/地區擁有30,000多家門市。
            </div>
            <button class="rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md min-w-20 md:min-w-24 lg:min-w-24">詳細</button>
          </div>
        </div>
        <!--card-->
        <div class="box-border relative w-full p-6 bg-white rounded-xl md:rounded-3xl lg:rounded-3xl shadow-custom-light md:w-calc-card lg:w-calc-card">
          <div class="items-center block md:flex lg:flex">
            <div class="relative w-20 h-20 mx-auto overflow-hidden bg-gray-200 rounded-full md:mx-0 lg:mx-0">
              <img src="{% static 'imgs/logo.png' %}" alt="公司圖標" class="absolute w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            </div>
            <div class="box-border flex-1 pt-6 md:pt-0 lg:pt-0 md:px-4 lg:px-4">
              <h2 class="text-xl font-semibold md:text-2xl lg:text-2xl">肯德基 KFC</h2>
              <div class="flex items-center mt-px">
                <i class="text-base fa-solid fa-star text-warning md:text-lg lg:text-lg"></i>
                <span class="ml-2 text-base font-light md:text-xl lg:text-xl">4.9</span>
                <div class="w-px h-4 bg-[#cccccc] mx-2"></div>
                <span class="text-base font-light md:text-xl lg:text-xl">20個評論</span>
              </div>
            </div>
            <div class="flex gap-2 text-2xl absolute top-2.5 right-3 md:lg:static lg:static">
              <div class="text-[#cccccc] cursor-pointer"><i class="fa-regular fa-heart"></i></div>
            </div>
          </div>
          <div class="flex items-center justify-between mt-4">
            <div class="text-sm md:text-lg lg:text-lg font-light text-black flex-1 line-clamp-2 pr-2.5">
                這是一家以炸雞等為主要產品的美國速食連鎖企業。全球150個國家/地區擁有30,000多家門市。
            </div>
            <button class="rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md min-w-20 md:min-w-24 lg:min-w-24">詳細</button>
          </div>
        </div>
        <!--card-->
        <div class="box-border relative w-full p-6 bg-white rounded-xl md:rounded-3xl lg:rounded-3xl shadow-custom-light md:w-calc-card lg:w-calc-card">
          <div class="items-center block md:flex lg:flex">
            <div class="relative w-20 h-20 mx-auto overflow-hidden bg-gray-200 rounded-full md:mx-0 lg:mx-0">
              <img src="{% static 'imgs/logo.png' %}" alt="公司圖標" class="absolute w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            </div>
            <div class="box-border flex-1 pt-6 md:pt-0 lg:pt-0 md:px-4 lg:px-4">
              <h2 class="text-xl font-semibold md:text-2xl lg:text-2xl">肯德基 KFC</h2>
              <div class="flex items-center mt-px">
                <i class="text-base fa-solid fa-star text-warning md:text-lg lg:text-lg"></i>
                <span class="ml-2 text-base font-light md:text-xl lg:text-xl">4.9</span>
                <div class="w-px h-4 bg-[#cccccc] mx-2"></div>
                <span class="text-base font-light md:text-xl lg:text-xl">20個評論</span>
              </div>
            </div>
            <div class="flex gap-2 text-2xl absolute top-2.5 right-3 md:lg:static lg:static">
              <div class="text-[#cccccc] cursor-pointer"><i class="fa-regular fa-heart"></i></div>
            </div>
          </div>
          <div class="flex items-center justify-between mt-4">
            <div class="text-sm md:text-lg lg:text-lg font-light text-black flex-1 line-clamp-2 pr-2.5">
                這是一家以炸雞等為主要產品的美國速食連鎖企業。全球150個國家/地區擁有30,000多家門市。
            </div>
            <button class="rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md min-w-20 md:min-w-24 lg:min-w-24">詳細</button>
          </div>
        </div>
        <!--card-->
        <div class="box-border relative w-full p-6 bg-white rounded-xl md:rounded-3xl lg:rounded-3xl shadow-custom-light md:w-calc-card lg:w-calc-card">
          <div class="items-center block md:flex lg:flex">
            <div class="relative w-20 h-20 mx-auto overflow-hidden bg-gray-200 rounded-full md:mx-0 lg:mx-0">
              <img src="{% static 'imgs/logo.png' %}" alt="公司圖標" class="absolute w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            </div>
            <div class="box-border flex-1 pt-6 md:pt-0 lg:pt-0 md:px-4 lg:px-4">
              <h2 class="text-xl font-semibold md:text-2xl lg:text-2xl">肯德基 KFC</h2>
              <div class="flex items-center mt-px">
                <i class="text-base fa-solid fa-star text-warning md:text-lg lg:text-lg"></i>
                <span class="ml-2 text-base font-light md:text-xl lg:text-xl">4.9</span>
                <div class="w-px h-4 bg-[#cccccc] mx-2"></div>
                <span class="text-base font-light md:text-xl lg:text-xl">20個評論</span>
              </div>
            </div>
            <div class="flex gap-2 text-2xl absolute top-2.5 right-3 md:lg:static lg:static">
              <div class="text-[#cccccc] cursor-pointer"><i class="fa-regular fa-heart"></i></div>
            </div>
          </div>
          <div class="flex items-center justify-between mt-4">
            <div class="text-sm md:text-lg lg:text-lg font-light text-black flex-1 line-clamp-2 pr-2.5">
                這是一家以炸雞等為主要產品的美國速食連鎖企業。全球150個國家/地區擁有30,000多家門市。
            </div>
            <button class="rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md min-w-20 md:min-w-24 lg:min-w-24">詳細</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}