{% extends "layouts/base.html" %}
{% block content %}
<div class="flex overflow-hidden relative justify-center items-center h-44 text-center md:h-80 lg:h-80">
    <h1 class="relative z-20 text-3xl font-bold text-white md:text-5xl lg:text-5xl">會員資訊</h1>
    <div class="absolute inset-0 z-10 m-auto bg-fixed bg-center bg-cover bg-banner-img"></div>
    <div class="absolute z-10 m-auto inset-0 bg-gradient-to-b from-[rgba(68,157,209,0.9)] to-[rgba(0,51,107,0.9)]"></div>
</div>
<div class="bg-[#eef0f0]">
  <div class="container px-5 pt-10 pb-16 mx-auto lg:pt-20 lg:pb-24">
    <div class="px-5 py-7 bg-white rounded-xl md:rounded-3xl lg:rounded-3xl md:p-10 lg:p-10">
      <form method="post" autocomplete="off" class="space-y-4">
        {% csrf_token %}
        <div class="flex flex-wrap gap-3 mb-10 md:gap-5 lg:gap-5 md:mb-16 lg:mb-16">
          {# 其他欄位，保持原來的順序顯示 #}
          {% for field in form %}
            {% if field.name != 'birthday' and field.name != 'tags' %}
              <div class="w-full md:w-calc-data lg:w-calc-data">
                <div class="text-sm md:text-base lg:text-base text-primary">{{ field.label }}
                  {% if field.required %}<span class="text-error">*</span>{% endif %}
                </div>
                <div>{{ field }}</div>
                <div class="text-xl text-error">{{ field.errors }}</div>
              </div>
            {% endif %}
          {% endfor %}

          {# 生日欄位，顯示在右下角 #}
          {% for field in form %}
            {% if field.name == 'birthday' %}
              <div class="w-full md:w-1/2 lg:w-1/2">
                <div class="text-sm md:text-base lg:text-base text-primary">{{ field.label }}
                  {% if field.required %}<span class="text-error">*</span>{% endif %}
                </div>
                <div>{{ field }}</div>
                <div class="text-xl text-error">{{ field.errors }}</div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

        {# 技能欄位，顯示在表單最下方 #}
        <div class="w-full">
          {% for field in form %}
            {% if field.name == 'tags' %}
              <div class="text-sm md:text-base lg:text-base text-primary">{{ field.label }}
                {% if field.required %}<span class="text-error">*</span>{% endif %}
              </div>
              <div x-data="tag_input" class="mt-4">
                <textarea x-ref="tagInput" type="text" id="{{ field.id_for_label }}" name="{{ field.name }}" x-init="init({{ tags|safe }})"
                class="p-2 mt-1 w-full rounded-lg border border-gray-300 shadow-sm resize-none textarea-often-base focus:ring-blue-500 focus:border-blue-500"></textarea>
                <input type="hidden" x-ref="hiddenTagsInput" name="tags">
              </div>
              <div class="text-xl text-error">{{ field.errors }}</div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="flex gap-5 justify-center">
          <button type="submit" class="btn btn-primary btn-sm md:btn-lg lg:btn-lg md:min-w-28 lg:min-w-28">更新會員資訊</button>
        </div>
      </form>
    </div>
    <div class="mt-4 text-gray-700">
      {% if info.updated_at %}
      <p>最後更新: <span class="font-bold">{{ info.updated_at }}</span></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
