{% extends "layouts/frontend.html" %} {% block content %}
<div class="flex justify-center items-center pt-32 pb-24">
  <section class="p-6 w-full max-w-md bg-white rounded-lg shadow-lg">
    <h1 class="mb-6 text-2xl font-bold text-center">會員註冊</h1>

    <form
      action="{% url 'users:index' %}"
      autocomplete="off"
      method="POST"
      class="space-y-4"
    >
      {% csrf_token %}

      <div>
        <label class="block text-sm font-medium">帳號</label>
        <input
          class="mt-1 w-full input-often-base"
          type="text"
          name="username"
          placeholder="輸入帳號"
          value="{{ username.value }}"
        />
        <div class="mt-1 text-sm text-red-500">{{ form.username.errors }}</div>
      </div>

      <div>
        <label class="block text-sm font-medium">密碼</label>
        <input
          class="mt-1 w-full input-often-base"
          type="password"
          name="password1"
          placeholder="輸入密碼"
          value="{{ password1.value }}"
        />
        <div class="mt-1 text-sm text-red-500">{{ form.password1.errors }}</div>
      </div>

      <div>
        <label class="block text-sm font-medium">密碼確認</label>
        <input
          class="mt-1 w-full input-often-base"
          type="password"
          name="password2"
          placeholder="確認密碼"
          value="{{ password2.value }}"
        />
        <div class="mt-1 text-sm text-red-500">{{ form.password2.errors }}</div>
      </div>
      <div>
        <label class="block text-sm font-medium" for="type">註冊身分</label>
        <select class="mt-1 w-full input-often-base" name="type">
          <option value="1">一般使用者</option>
          <option value="2">公司</option>
        </select>
      </div>
      <div>
        <label class="block text-sm font-medium">電子郵件</label>
        <input
          class="mt-1 w-full input-often-base"
          type="email"
          name="email"
          placeholder="輸入電子郵件"

          value="{{ form.email.value|default_if_none:''  }}"


        />
        <div class="mt-1 text-sm text-red-500">{{ form.email.errors }}</div>
      </div>

      <div>
        <button class="w-full text-white btn btn-primary">註冊</button>
      </div>

      <div class="mt-4 text-center">
        已經有帳號了？<a
          class="text-blue-500 link"
          href="{% url 'users:sign_in' %}"
          >登入</a
        >
      </div>
    </form>
  </section>
</div>
{% endblock %}
