{% extends "layouts/base.html" %}
{% block content %}
{% load static %}
<div class="relative flex items-center justify-center overflow-hidden text-center h-44 md:h-80 lg:h-80">
  <h1 class="relative z-20 text-3xl font-bold text-white md:text-5xl lg:text-5xl">贊助我們</h1>
  <div class="absolute inset-0 z-10 m-auto bg-fixed bg-center bg-cover bg-banner-img"></div>
  <div class="absolute z-10 m-auto inset-0 bg-gradient-to-b from-[rgba(68,157,209,0.9)] to-[rgba(0,51,107,0.9)]"></div>
</div>
<div class="mx-auto mt-10 mb-10 shadow-xl card bg-base-100 w-96"> <!-- 在這裡添加 mb-10 -->
  <figure class="px-10 pt-10">
    <img src="{% static 'imgs/payment_thankyou.png' %}" alt="payment" class="rounded-xl" />
  </figure>
  <div class="items-center text-center card-body">
    <h2 class="card-title">歡迎您</h2>
    <p></p>
    <div class="card-actions">
      <form action="{% url 'payments:request' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-primary">點我贊助</button>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}
