@import "./github-markdown.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 20px;
}

.btn {
  @apply rounded-full;
}

.input-often-base {
  @apply box-border w-full rounded-xl border border-gray-300 input input-bordered;
}

.textarea-often-base {
  @apply box-border py-4 w-full rounded-xl border border-gray-300 resize-none input input-bordered min-h-28;
}

.no-style {
  @apply bg-transparent border-transparent shadow-none;
}

:root {
  --fallback-b2: #f3f4f6;
}

.markdown-body ol,
.markdown-body ul {
  list-style: revert;
}
