@import "./github-markdown.css";
@import "./tags.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans;
}

.footer {
  @apply gap-8
}

.btn {
  @apply text-white rounded-full;
}

.btn-lg {
  @apply min-h-14 h-14 text-xl
}

.btn-md {
  @apply min-h-12 h-12 text-xl
}

.btn-sm {
  @apply min-h-8 h-8 text-base
}

.input-often-base {
  @apply box-border w-full text-base border-0 border-b border-gray-300 rounded-none input md:text-xl lg:text-xl;
}

.input-often-base:focus {
  @apply outline-0 border-secondary
}

.textarea-often-base {
  @apply box-border w-full py-4 text-base border-0 border-b border-gray-300 rounded-none resize-none input md:text-xl lg:text-xl min-h-28;
}

.no-style {
  @apply bg-transparent border-transparent shadow-none;
}

:root {
  --fallback-b2: #c8c8c8;
}

.markdown-body ol,
.markdown-body ul {
  list-style: revert;
}

@layer utilities {
  .line-clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .backdrop-blur-5 {
    backdrop-filter: blur(5px);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

[x-cloak] {
  @apply hidden !important;
}