{% extends "layouts/base.html" %}

{% block content %}
<div class="flex items-center justify-center h-24 mt-20 text-center bg-gray-100">
  <h1 class="text-3xl font-bold">應徵工作</h1>
</div>

<div class="container p-5 pb-24 mx-auto">
  <div class="flex-1">
    <h1>應徵的工作職稱：{{job.title}}</h1>
    <h1>應徵的工作地點： {{job.location}}</h1>
  </div>

  <div class="flex gap-2">
    <form action="{% url 'jobs:submit_jobs' job.id %}" method="POST">
      {%csrf_token%}
        <input type="hidden" name="job_id" value="{{ job.id }}">
        <label for="resume">選擇履歷:</label>
        <select name="resume_id" id="resume">
          {% for resume in resumes %}
          <option value="{{ resume.id }}">{{ resume.file }}</option>
          {% endfor %}
        </select>
      <button class="text-white btn btn-error btn-sm" >提交申請</button>
      <button class="text-white btn btn-error btn-sm" ><a href="{% url 'jobs:index' %}">取消</a></button>
    </form>
  </div>
</div>

{%endblock%}