{% extends "layouts/base.html" %}
{% block content %}
<div class="flex items-center justify-center h-24 mt-20 text-center bg-gray-100">
  <h1 class="text-3xl font-bold">編輯職缺</h1>
</div>
<div class="container p-5 pb-24 mx-auto">
  <form method="POST" action="{% url 'jobs:show' job.id %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="mt-4">{{ field.label }} {{ field }} {{ field.errors }}</div>
    {% endfor %}
    <div class="mt-4"><button class="text-white btn btn-primary min-w-20">確認修改</button></div>
  </form>
</div>
{% endblock %}
