{% extends "layouts/base.html" %}
{% block content %}
<div class="flex items-center justify-center h-24 mt-20 text-center bg-gray-100">
    <h1 class="text-3xl font-bold">職缺</h1>
</div>
<div class="container p-5 pb-24 mx-auto">

    {% if request.user.is_authenticated and request.user.type == 2 %}
    <a class="text-white btn btn-primary min-w-20" href="{% url 'companies:jobs_new' request.user.company.id %}">新增職缺</a>
    {% endif %}


    <ul class="mt-6 divide-y divide-slate-200">
        {% for item in page_obj %}
        <li class="flex gap-2 p-5">
            <div class="flex-1">
                {{ item.job.title }}
                <a href="{% url 'jobs:show' item.job.id %}">{{ item.job.get_location_display }}</a>
            </div>
            <div class="flex gap-2">
                {% if item.can_edit %}
                    <a class="text-white btn btn-primary btn-sm" href="{% url 'jobs:edit' item.job.id %}">編輯</a>
                    <form method="POST" action="{% url 'jobs:delete' item.job.id %}">
                        {% csrf_token %}
                        <button class="text-white btn btn-error btn-sm">刪除</button>
                    </form>
                {% endif %}
                {% if request.user.is_authenticated and request.user.type == 1 %}
                {% if item.job.id in favorites %}
                <a class="text-white btn btn-secondary btn-sm" href="{% url 'users:favorite' item.job.id %}">取消</a>
                {% else %}
                <a class="text-white btn btn-secondary btn-sm" href="{% url 'users:favorite' item.job.id %}">收藏</a>
                {% endif %}
                    <a class="text-white btn btn-secondary btn-sm" href="{% url 'users:apply_jobs' item.job.id %}" >應徵</a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% include 'shared/_pagination.html' %}
</div>
{% endblock %}

