{% extends "layouts/base.html" %}
{% block content %}
<div class="flex items-center justify-center h-24 mt-20 text-center bg-gray-100">
  <h1 class="text-3xl font-bold">新增職缺</h1>
</div>
<div class="container p-5 pb-24 mx-auto">
  <form method="POST" action="{% url 'companies:jobs_new' company.id %}">
    {% csrf_token %}
    {% for field in form %}
      {% if field.name == 'tags' %}
        <div x-data="tag_input" class="mt-4">
          <label for="{{ field.id_for_label }}">所需技能</label>
          <input x-ref="tagInput" type="text"  id="{{ field.id_for_label }}" name="{{ field.name }}" x-init="init({{ tags|safe }})"
            class="mt-1 input-often-base">
          <input type="hidden" x-ref="hiddenTagsInput" name="tags">
        </div>
      {% else %}
        <div class="mt-4">{{ field.label }} {{ field }} {{ field.errors }}</div>
      {% endif %}
    {% endfor %}
    <div class="flex gap-4 mt-4">
      <button class="text-white btn btn-primary min-w-20">新增</button>
      <a class="text-white btn btn-neutral min-w-20" href="{% url 'companies:jobs_new' company.id %}">回到列表</a>
    </div>
  </form>
</div>
{% endblock %}