{% extends "layouts/base.html" %}
{% block content %}
{% load static %}
<div class="relative flex items-center justify-center overflow-hidden text-center h-44 md:h-80 lg:h-80">
  <h1 class="relative z-20 px-5 text-3xl font-bold text-white md:text-5xl lg:text-5xl">{{ job.title }}</h1>
  <div class="absolute inset-0 z-10 m-auto bg-fixed bg-center bg-cover bg-banner-img"></div>
  <div class="absolute z-10 m-auto inset-0 bg-gradient-to-b from-[rgba(68,157,209,0.9)] to-[rgba(0,51,107,0.9)]"></div>
</div>

<div class="bg-[#eef0f0]">
  <div class="container px-5 pt-10 pb-16 mx-auto lg:pt-20 lg:pb-24">
    <div class="container p-5 pb-24 mx-auto">
      <div class="flex flex-col items-start gap-6 mb-10 md:flex-row lg:flex-row md:gap-12 lg:gap-12 md:items-start lg:items-center md:mb-14 lg:mb-14">
        <div class="flex-1">
          <div class="flex flex-wrap gap-3 md:gap-5 lg:gap-5">

            <div class="flex w-full md:w-full lg:w-calc-data">
              <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">公司名稱</div>
              <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl"></div>
            </div>
            <div class="flex w-full md:w-full lg:w-calc-data">
              <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">職缺描述</div>
              <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl">{{ job.description }}</div>
            </div>
            <div class="flex w-full md:w-full lg:w-calc-data">
              <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">工作地點</div>
              <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl">{{ job.get_location_display }}</div>
            </div>
            <div class="flex w-full md:w-full lg:w-calc-data">
              <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">工作類型</div>
              <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl">{{ job.type}}</div>
            </div>
            <div class="flex w-full md:w-full lg:w-calc-data">
              <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">聯絡方式</div>
              <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl">{{ job.contact_info}}</div>
            </div>
            <div class="flex w-full md:w-full lg:w-calc-data">
              <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">聯絡方式</div>
              <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl">{{ job.contact_info}}</div>
            </div>
            <div class="flex w-full md:w-full lg:w-calc-data">
              <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">薪資範圍</div>
              <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl">{{ job.salary_range}}</div>
            </div>
            <div class="flex w-full md:w-full lg:w-calc-data">
              <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">年資</div>
              <div class="flex-auto text-base font-light break-all md:text-xl lg:text-xl">{{ job.tenure}}年</div>
            </div>
            <div class="flex w-full md:w-full lg:w-calc-data">
              <div class="text-base font-bold min-w-24 md:text-xl lg:text-xl">所需技能</div>
              <section class="border-none tagify">
                {% for tag in tags%}
                  <span class="tagify__tag "><div><span class="tagify__tag-text"><a href="{% url 'jobs:search_results' %}?q={{tag.name}}">{{ tag.name }}</a></span></div></span>
                {%endfor%}
              </section>
            </div>
          </div>
        </div>
      </div>
      <form action="{% url 'users:apply_jobs' job.id %}" method="POST">
        {% csrf_token%}
          <input type="hidden" name="job_id" value="{{ job.id }}">
            {% if status == False %}
              <button class="flex-auto text-base rounded-full btn btn-secondary btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl lg:flex-none">應徵</button>
            {% endif %}
      </form>
      <div class="flex justify-center gap-5">
        {% if backJobs %}
          <a class= "btn btn-primary btn-sm md:btn-lg lg:btn-lg md:min-w-28 lg:min-w-28"  href="{% url 'jobs:index' %}">返回列表</a>
        {% else %}
          <a class="btn btn-primary btn-sm md:btn-lg lg:btn-lg md:min-w-28 lg:min-w-28" href="{% url 'resumes:jobs' %}">返回</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
