{% extends "layouts/base.html" %}
{% block content %}
<div class="flex items-center justify-center h-24 mt-20 text-center bg-gray-100">
    <h1 class="text-3xl font-bold">{{ job.title }}</h1>
</div>
<div class="container p-5 pb-24 mx-auto">
  <section class="border-none tagify">
    {% for tag in tags%}
    <span class="tagify__tag "><div><span class="tagify__tag-text"><a href="{% url 'jobs:search_results' %}?q={{tag.name}}">{{ tag.name }}</a></span></div></span>
    {%endfor%}
  </section>
    <ul class="mb-4">
        <li>工作敘述：{{ job.description }}</li>
        <li>工作地點：{{ job.get_location_display }}</li>
    </ul>
    {% if request.user.is_authenticated %}
      <form action="{% url 'users:apply_jobs' job.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="job_id" value="{{ job.id }}">
        {% if status == False %}
          <button class="mb-4 text-white btn btn-secondary btn-sm">應徵</button>
        {% endif %}
      </form>
    {% else %}
      <a href="{% url 'users:sign_in' %}?next={% url 'users:apply_jobs' job.id %}" class="text-white btn btn-primary">登入應徵</a>
    {% endif %}

    {% if is_search_result %}
      <a class="text-white btn btn-primary min-w-20" href="{% url 'jobs:search_results' %}?q={{ search_query }}">返回搜尋頁</a>
    {% elif backJobs %}
      <a class="text-white btn btn-primary min-w-20" href="{% url 'jobs:index' %}">返回列表</a>
    {% else %}
      <a class="text-white btn btn-primary min-w-20" href="{% url 'resumes:jobs' %}">返回</a>
    {% endif %}
</div>
{% endblock %}
