{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<script src="{% static 'src/scripts/chart.js' %}" type="module"></script>

<div x-data="{ showLanguages: true }" class="flex flex-col items-center pt-20 mt-10 min-h-screen">
    <div class="flex justify-center mb-4 w-full">
        <button @click="showLanguages = true" class="px-4 py-2 mr-2 text-white bg-blue-500 rounded">顯示熱門語言</button>
        <button @click="showLanguages = false" class="px-4 py-2 text-white bg-green-500 rounded">顯示薪資分析</button>
    </div>

    <div x-show="showLanguages" class="flex justify-center items-center space-x-10 w-full">
        <div class="flex flex-col justify-center items-center">
            <h2 class="mb-2 text-2xl font-bold">企業喜愛的程式語言</h2>
            <div class="w-[700px] h-[700px]">
                <canvas id="jobSkillPieChart"></canvas>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h2 class="mb-2 text-2xl font-bold">使用者喜愛的程式語言</h2>
            <div class="w-[700px] h-[700px]">
                <canvas id="userSkillPieChart"></canvas>
            </div>
        </div>
    </div>

    <div x-show="!showLanguages" class="flex justify-center items-center mt-10 space-x-10 w-full">
        <div class="flex flex-col justify-center items-center">
            <h2 class="mb-2 text-2xl font-bold">程式語言與薪資分析</h2>
            <div class="w-[800px] h-[700px]">
                <canvas id="salaryChart"></canvas>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h2 class="mb-2 text-2xl font-bold">年資與薪資分析</h2>
            <div class="w-[800px] h-[700px]">
                <canvas id="tenureSalaryChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script id="jobSkillData" type="application/json">
    {{ job_skill_counts_json|safe }}
</script>

<script id="userSkillData" type="application/json">
    {{ user_skill_counts_json|safe }}
</script>

<script id="averageSalaryData" type="application/json">
    {{ average_salary_json|safe }}
</script>

<script id="averageTenureSalaryData" type="application/json">
    {{ average_tenure_salary_json|safe }}
</script>

{% endblock %}