{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script src="{% static 'scripts/app.js' %}" type="module"></script>
    <link href="{% static 'styles/styles.css' %}" rel="stylesheet">
    <title>WorkNet</title>
</head>
<body>
    {% include "shared/navbar.html" %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include "shared/footer.html" %}
</body>
</html>