{% extends "layouts/base.html" %}
{% block content %}
<div class="flex items-center justify-center h-24 mt-20 text-center bg-gray-100">
    <h1 class="text-3xl font-bold">修改檔名</h1>
</div>

<div class="container p-5 pb-24 mx-auto">
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
        <div class="mb-4 text-red-600">
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {{ errors }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="mt-4">
            <label for="id_name">檔名:</label>
            <input type="text" name="name" id="id_name" value="{{ form.name.value }}" class="w-full p-2 border rounded-md">
        </div>
        <div class="flex gap-4 mt-4">
            <button class="text-white btn btn-primary min-w-20" type="submit">儲存變更</button>
            <a href="{% url 'resumes:index' %}" class="text-white btn btn-secondary min-w-20">取消</a>
        </div>
    </form>
</div>
{% endblock %}
Z