{% extends "layouts/base.html" %}
{% block content %}
<div class="relative flex items-center justify-center overflow-hidden text-center h-44 md:h-80 lg:h-80">
    <h1 class="relative z-20 text-3xl font-bold text-white md:text-5xl lg:text-5xl">我的履歷</h1>
    <div class="absolute inset-0 z-10 m-auto bg-fixed bg-center bg-cover bg-banner-img"></div>
    <div class="absolute z-10 m-auto inset-0 bg-gradient-to-b from-[rgba(68,157,209,0.9)] to-[rgba(0,51,107,0.9)]"></div>
</div>

<div class="flex-1 bg-[#eef0f0]">
    <div class="container px-5 pt-10 pb-16 mx-auto lg:pt-20 lg:pb-24">
        <p class="mb-6 text-lg font-light text-gray-700 md:text-xl lg:text-xl">總共有 {{ resumes|length }} 份履歷。</p>
        {% if resumes %}
        <ul class="flex flex-wrap gap-5 md:gap-7 lg:gap-7">
            {% for resume in resumes %}
            <li class="relative w-full p-6 bg-white border border-[#e7e8eb] rounded-xl md:rounded-3xl lg:rounded-3xl">
                <div class="flex flex-col md:flex-row">
                    <div class="box-border flex-1 pr-4">
                        <a class="text-xl font-semibold md:text-2xl lg:text-2xl" href="{{ resume.file.url }}" target="_blank">{{ resume.file.name|cut:"resumes/" }}</a>
                        <p class="mt-1 text-sm font-light text-gray-500 md:text-base lg:text-base">{{ resume.uploaded_at|date:"Y/m/d, g:i a" }}</p>
                    </div>
                    <div class="flex gap-2 justify-center mt-4 sm:mt-0 sm:justify-end">
                        <a class="flex-auto text-base rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl min-w-20 md:min-w-24 lg:min-w-24" href="{{ resume.file.url }}" target="_blank">預覽</a>
                        <a class="flex-auto text-base rounded-full btn btn-secondary btn-sm md:btn-md lg:btn-md" href="{% url 'resumes:edit' resume.id %}">
                            <i class="text-base fa-solid fa-pen lg:text-base"></i>
                        </a>
                        <form action="{% url 'resumes:delete' resume.id %}" method="POST" class="flex flex-auto gap-2 md:gap-4 lg:gap-4" x-data="confirm_msg" @submit.prevent="confirmDelete('確定要刪除這份履歷嗎？')">
                            {% csrf_token %}
                            <button class="flex-auto text-base rounded-full btn btn-error btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl lg:flex-none">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="py-5 text-center">
            <p>尚無履歷</p>
        </div>
        {% endif %}

        <div class="flex justify-end mt-6">
            <a class="flex-auto text-base rounded-full btn btn-primary btn-sm md:btn-md lg:btn-md md:text-xl lg:text-xl min-w-20 md:min-w-24 lg:min-w-24 lg:flex-none" href="{% url 'resumes:upload' %}">
                上傳履歷
            </a>
        </div>

        <div class="p-4 mt-8 bg-white rounded-lg">
            <h3 class="mb-2 text-lg font-semibold text-black">檔案限制：</h3>
            <ul class="text-black list-disc list-inside">
                <li>只接受PDF檔案</li>
                <li>檔案大小上限為 20MB</li>
                <li>最多只能上傳 3 份履歷</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
