{% extends "layouts/base.html" %}
{% block content %}
<div class="relative flex items-center justify-center overflow-hidden text-center h-44 md:h-80 lg:h-80">
    <h1 class="relative z-20 text-3xl font-bold text-white md:text-5xl lg:text-5xl">應徵記錄</h1>
    <div class="absolute inset-0 z-10 m-auto bg-fixed bg-center bg-cover bg-banner-img"></div>
    <div class="absolute z-10 m-auto inset-0 bg-gradient-to-b from-[rgba(68,157,209,0.9)] to-[rgba(0,51,107,0.9)]"></div>
</div>

<div class="flex-1 bg-[#eef0f0]">
    <div class="container px-5 pt-10 pb-16 mx-auto lg:pt-20 lg:pb-24">
        <p class="text-base md:text-xl lg:text-xl font-light">你總共有 <span class="text-secondary font-bold">{{ job_resumes|length }}</span> 次應徵紀錄。</p>
        {% if job_resumes %}
        <div class="overflow-x-auto mt-5">
            <table class="table overflow-hidden">
                <thead>
                    <tr class="text-center text-base md:text-xl lg:text-xl bg-primary text-white">
                        <th></th>
                        <th>公司</th>
                        <th>職缺</th>
                        <th>履歷</th>
                        <th>應徵時間</th>
                        <th>取消應徵</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job_resume in job_resumes %}
                        <tr class="hover:bg-[#fffbe3] text-center text-base md:text-xl lg:text-xl font-light bg-white">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ job_resume.company_title }}</td>
                            <td><a class="text-secondary underline" href="{% url 'jobs:show' job_resume.job_id %}">{{ job_resume.job_title }}</a></td>
                            <td>{{ job_resume.file_name }}</td>
                            <td class="text-center">{{ job_resume.created_at|date:"Y/m/d" }}</td>
                            <td>
                                <form action="{% url 'resumes:jobs_delete' job_resume.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="text-error"><i class="fa-solid fa-trash-can"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="text-center py-5"><p>尚無應徵紀錄</p></div>
        {% endif %}
    </div>
</div>
{% endblock %}
