{% extends "layouts/base.html" %}
{% block content %}
<div class="mt-20 h-24 text-center bg-gray-100 flex justify-center items-center">
    <h1 class="text-3xl font-bold">應徵紀錄</h1>
</div>
<div class="container p-5 pb-24 mx-auto">
<p>你總共有 {{ job_resumes|length }} 次應徵紀錄。</p>
    {% if job_resumes %}
    <div class="overflow-x-auto mt-5">
        <table class="table">
            <thead>
                <tr class="text-center text-base">
                    <th></th>
                    <th>職缺</th>
                    <th>履歷</th>
                    <th>應徵時間</th>
                </tr>
            </thead>
            <tbody>
                {% for job_resume in job_resumes %}
                    <tr class="hover cursor-pointer" onclick="window.location.href= '{% url 'jobs:show' job_resume.job_id %}';" >
                        <th>{{ forloop.counter }}</th>
                        <td>{{ job_resume.job_title }}</td>
                        <td>{{ job_resume.resume_file }}</td>
                        <td>{{ job_resume.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="text-center py-5"><p>尚無應徵紀錄</p></div>
    {% endif %}
</div>
{% endblock %}
