{% extends "layouts/frontend.html" %}
{% block content %}
<div class="flex justify-center items-center mt-20 h-24 text-center bg-gray-100">
    <h1 class="text-3xl font-bold">上傳履歷</h1>
</div>

<div class="container p-5 pb-24 mx-auto">
    <form method="POST" action="{% url 'resumes:upload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mt-4">
            {{ form.file }}
            {{ form.file.errors }}
        </div>
        <div class="flex gap-4 mt-4">
            <button class="px-4 py-2 text-white btn btn-primary min-w-20" type="submit">上傳</button>
        </div>
    </form>
</div>
{% endblock %}
