<footer class="py-5 md:py-10 lg:py-10 px-5 text-white footer-center flex flex-col gap-3 md:gap-4 lg:gap-4 bg-opacity-90
              {% if request.user.type == 2 %} bg-gray-900 {% else %} bg-primary {% endif %}">
    <nav class="flex justify-center gap-4">
      <a href="{% url 'companies:index' %}" class="text-base link link-hover">公司資訊</a>
      {% if request.user.type == 2 %}
        <a class="text-base link link-hover" href="{% url 'companies:jobs_index' request.user.company.id %}">職缺</a>
      {% else %}
        <a class="text-base link link-hover" href="{% url 'jobs:index' %}">職缺</a>
      {% endif %}
      {% if request.user.type == 2 %}
        <a class="text-base link link-hover" href="{% url 'companies:post_index' request.user.company.id %}">評論</a>
      {% else %}
        <a class="text-base link link-hover" href="{% url 'posts:index' %}">評論</a>
      {% endif %}
      <a href="{% url 'analytics:index' %}" class="text-base link link-hover">分析</a>
      <a href="{% url 'payments:index' %}" class="text-base link link-hover">贊助</a>
    </nav>
    <aside>
      <p class="text-xs md:text-base lg:text-base">Copyright © 2024 WorkNet All Rights Reserved</p>
    </aside>
</footer>
