
<nav
  class="box-border fixed top-0 left-0 z-40 flex items-center w-full p-4 shadow-md bg-base-100 min-h-20"
>
  <div class="absolute -translate-y-1/2 left-4 top-1/2">
    <a href="{% url 'users:index' %}" class="text-xl font-bold">WorkNet</a>
  </div>

  <div class="w-full">
    <div class="text-center">
      <ul class="inline-flex gap-5">
        <li>
          <a class="font-semibold" href="/">首頁</a>
        </li>
        <li>
          <a class="font-semibold" href="{% url 'companies:index' %}">公司資訊</a>
        </li>
        <li>
          <a class="font-semibold" href="{% url 'jobs:index' %}">職缺</a>
        </li>
      </ul>
    </div>
    <div class="absolute -translate-y-1/2 right-4 top-1/2">
      {% if request.user.is_authenticated %}
      <div class="flex gap-2 text-sm">
        <div class="relative flex items-center group">
          <div class="cursor-pointer"><h2>{{ request.user }}，您好</h2></div>
          <div class="absolute hidden p-3 text-center -translate-x-1/2 bg-white divide-y shadow-lg top-12 left-1/2 divide-slate-200 rounded-xl group-hover:block">
            {% if request.user.type == 1 %}
              <a class="block py-2 px-2.5 whitespace-nowrap" href="{% url 'users:info' request.user.pk %}">會員資料</a>
              <a class="block py-2 px-2.5 whitespace-nowrap" href="{% url 'users:favorites_list' %}">我的職缺收藏</a>
              <a class="block py-2 px-2.5 whitespace-nowrap" href="{% url 'users:favorites_company_list' %}">喜愛的公司</a>
              <a class="block py-2 px-2.5 whitespace-nowrap" href="{% url 'resumes:index' %}">我的履歷</a>
            {% elif request.user.type == 2 %}
              <a class="block py-2 px-2.5 whitespace-nowrap" href="{% url 'companies:index' %}">公司資料</a>
            {%endif%}
          </div>
        </div>

        <form action="{% url 'users:sign_out' %}" method="POST">
          {% csrf_token %}
          <button class="text-white bg-red-500 btn min-w-20 hover:bg-red-400">登出</button>
        </form>
      </div>
      {% else %}
      <ul class="flex">
        <li>
          <a class="btn no-style hover:border-transparent" href="{% url 'users:sign_in' %}">登入</a>
        </li>
        <li>
          <a class="text-white btn btn-primary min-w-20" href="{% url 'users:register' %}">註冊</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>