
<nav
  class="relative flex items-center justify-between p-4 shadow navbar bg-base-100"
>
  <div class="flex items-center">
    <a href="/" class="text-blue-500 hover:underline">回到首頁</a>
  </div>
  <div class="absolute transform -translate-x-1/2 left-1/2">
    <a href="{% url 'users:index' %}" class="text-xl font-bold">WorkNet</a>
  </div>

  <div class="flex items-center gap-4">
    {% if request.user.is_authenticated %}
    <div class="flex gap-2 text-sm">
      <h2>{{ request.user }}</h2>
      <h2>已成功登入</h2>
        {% if request.user.type == 1 %}
          <a class="link" href="{% url 'users:info' request.user.pk %}">會員資料</a>
          <a class="link" href="{% url 'users:favorites_list' %}">我的收藏</a>
        {% elif request.user.type == 2 %}
          <a class="link" href="{% url 'companies:index' %}">公司資料</a>
        {%endif%}
      <form action="{% url 'users:sign_out' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-primary">登出</button>
      </form>
    </div>
      {% else %}
    <ul class="flex gap-4">
      <li>
        <a class="link" href="{% url 'companies:index'  %}">公司資訊</a>
      </li>
      <li>
        <a class="link" href="{% url 'jobs:index'  %}">職缺</a>
      </li>
      <li>
        <a class="link" href="{% url 'posts:index' %}">貼文</a>
      </li>
      <li>
        <a class="link btn btn-outline" href="{% url 'users:sign_in' %}"
          >登入</a
        >
      </li>
      <li>
        <a class="link btn btn-outline" href="{% url 'users:register' %}"
          >註冊</a
        >
      </li>
    </ul>
    {% endif %}
  </div>
</nav>