
{% load static %}
<div x-data="{ isScrolled: false }" @scroll.window="isScrolled = window.scrollY > 0">
  <nav :class="isScrolled ? 'bg-opacity-90' : 'bg-transparent'"
        class="box-border fixed top-0 left-0 z-40 flex items-center w-full transition-colors duration-300 min-h-16 md:min-h-28 lg:min-h-28
              {% if request.user.type == 2 %} bg-gray-900 {% else %} bg-primary {% endif %}">
    <div class="absolute left-4 top-1/2 z-10 -translate-y-1/2">
      <a href="{% url 'users:index' %}" class="block w-28 bg-center bg-no-repeat bg-contain md:w-32 lg:w-32 aspect-8/3 bg-logo-backend">
      </a>
    </div>
    {% if request.user.is_authenticated %}
    <div class="absolute right-20 z-30 md:right-24 lg:right-32">
      <div class="flex relative items-center h-12 cursor-pointer group" x-data="{ open: false, isMobile: window.innerWidth < 1024 }"
      @resize.window="
              isMobile = window.innerWidth < 1024;
              if (isMobile) { open = false; }
              else { open = true; }"
          x-init="open = !isMobile">
        <div @click="open = !open">
          {% if unread_notifications_count > 0 %}
            <div class="flex justify-center items-center w-6 h-6 text-base bg-white rounded-full md:w-8 lg:w-8 md:h-8 lg:h-8 md:text-lg lg:text-lg">
              <i class="text-error fas fa-bell"></i>
            </div>
          {% else %}
            <div class="flex justify-center items-center w-6 h-6 text-base bg-white rounded-full md:w-8 lg:w-8 md:h-8 lg:h-8 md:text-lg lg:text-lg">
              <i class="text-gray-600 far fa-bell"></i>
            </div>
          {% endif%}
        </div>
        <div x-show="open" class="fixed top-0 right-0 bottom-0 left-0 z-50 m-auto w-full text-center lg:w-48 lg:absolute lg:-translate-x-1/2 lg:top-12 lg:left-1/2 lg:right-auto lg:bottom-auto bg-primary lg:bg-transparent lg:hidden lg:group-hover:block">
          <div class="flex justify-end items-center h-16 md:h-28 lg:hidden">
            <div @click="open = false" class="relative mr-7 w-6 h-5 cursor-pointer md:w-8 md:h-7">
              <div class="absolute inset-0 m-auto w-full h-1 bg-white rounded-full rotate-45"></div>
              <div class="absolute inset-0 m-auto w-full h-1 bg-white rounded-full -rotate-45"></div>
            </div>
          </div>
          <div class="w-4/5 lg:w-auto bg-white rounded-xl divide-y divide-slate-200 lg:shadow-lg py-0 px-5 lg:p-3 m-auto text-left max-h-[50dvh] lg:max-h-none overflow-y-auto">
            {% include "shared/notify.html" %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="w-full" x-data="{ open: false, isMobile: window.innerWidth < 1024 }"
    @resize.window="
            isMobile = window.innerWidth < 1024;
            if (isMobile) { open = false; }
            else { open = true; }"
        x-init="open = !isMobile">
      <div @click="open = !open" class="flex absolute right-7 top-1/2 z-20 flex-col justify-between w-6 h-5 -translate-y-1/2 cursor-pointer md:h-7 md:w-8 lg:hidden">
        <span class="block w-full h-1 bg-white rounded-full"></span>
        <span class="block w-full h-1 bg-white rounded-full"></span>
        <span class="block w-full h-1 bg-white rounded-full"></span>
      </div>
      <div x-show="open" class="absolute top-0 right-0 w-full md:w-2/6 lg:w-full h-dvh lg:h-auto lg:block lg:relative bg-primary lg:bg-transparent">
        <div class="pt-16 md:pt-24 lg:pt-0 lg:absolute lg:right-4 lg:top-1/2 lg:-translate-y-1/2">
          {% if request.user.is_authenticated %}
          <div class="flex flex-col gap-4 lg:p-4 bg-secondary lg:bg-transparent lg:px-0 lg:py-0 lg:flex-row">
            <div class="flex relative items-center group lg:mr-14" x-data="{ open: false, isMobile: window.innerWidth < 1024 }"
            @resize.window="
                    isMobile = window.innerWidth < 1024;
                    if (isMobile) { open = false; }
                    else { open = true; }"
                x-init="open = !isMobile">
              <div @click="open = !open" class="p-4 w-full cursor-pointer lg:p-0">
                <h2 class="flex justify-between text-base text-white">
                  <div class="flex-1">
                    {% if request.user.type == 1 %}
                        <i class="mr-1 fa-solid fa-user"></i>
                        {% if request.user.userinfo.nickname %}
                            {{ request.user.userinfo.nickname }}，您好
                        {% else %}
                            {{ request.user }}，您好
                        {% endif %}
                    {% else %}
                        <i class="mr-1 fa-solid fa-briefcase"></i>
                        {{ request.user }}，您好
                    {% endif %}
                  </div>
                  <div><i class="ml-1 fa-solid fa-caret-down"></i></div>
                </h2>
              </div>
              <div x-show="open" class="fixed top-0 right-0 bottom-0 left-0 z-50 m-auto w-full text-center lg:w-auto lg:absolute lg:-translate-x-1/2 lg:top-12 lg:left-1/2 lg:right-auto lg:bottom-auto bg-primary lg:bg-transparent lg:hidden lg:group-hover:block">
                <div class="flex justify-end items-center h-16 md:h-28 lg:hidden">
                  <div @click="open = false" class="relative mr-7 w-6 h-5 cursor-pointer md:w-8 md:h-7">
                    <div class="absolute inset-0 m-auto w-full h-1 bg-white rounded-full rotate-45"></div>
                    <div class="absolute inset-0 m-auto w-full h-1 bg-white rounded-full -rotate-45"></div>
                  </div>
                </div>
                <div class="w-auto p-3 lg:bg-white rounded-xl divide-y divide-[#365f8c] lg:divide-slate-200 lg:shadow-lg">
                  {% if request.user.type == 1 %}
                    <a class="block px-2.5 py-2 text-white whitespace-nowrap md:py-4 lg:px-2.5 lg:py-2 md:text-xl lg:text-base lg:text-black" href="{% url 'users:info' %}">會員資料</a>
                    <a class="block px-2.5 py-2 text-white whitespace-nowrap md:py-4 lg:px-2.5 lg:py-2 md:text-xl lg:text-base lg:text-black" href="{% url 'users:favorites_list' %}">我的職缺收藏</a>
                    <a class="block px-2.5 py-2 text-white whitespace-nowrap md:py-4 lg:px-2.5 lg:py-2 md:text-xl lg:text-base lg:text-black" href="{% url 'users:favorites_company_list' %}">喜愛的公司</a>
                    <a class="block px-2.5 py-2 text-white whitespace-nowrap md:py-4 lg:px-2.5 lg:py-2 md:text-xl lg:text-base lg:text-black" href="{% url 'resumes:index' %}">我的履歷</a>
                    <a class="block px-2.5 py-2 text-white whitespace-nowrap md:py-4 lg:px-2.5 lg:py-2 md:text-xl lg:text-base lg:text-black" href="{% url 'resumes:jobs' %}">應徵紀錄</a>
                  {% elif request.user.type == 2 %}
                    <a class="block px-2.5 py-2 text-white whitespace-nowrap md:py-4 lg:px-2.5 lg:py-2 md:text-xl lg:text-base lg:text-black" href="{% url 'companies:edit' request.user.company.id  %}">公司資料</a>
                    <a class="block px-2.5 py-2 text-white whitespace-nowrap md:py-4 lg:px-2.5 lg:py-2 md:text-xl lg:text-base lg:text-black" href="{% url 'companies:company_application' %}">查看應徵</a>
                  {% endif %}
                </div>
              </div>
            </div>

            <form action="{% url 'users:sign_out' %}" method="POST" class="hidden lg:block">
              {% csrf_token %}
              <button class="w-full rounded-full border-0 btn btn-error btn-sm md:btn-md lg:btn-md lg:text-lg min-w-20 md:min-w-24 lg:min-w-24">登出</button>
            </form>
          </div>
          {% else %}
          <ul class="flex border-b border-[#365f8c] justify-center pb-4 lg:p-0 lg:border-0">
            <li>
              <a class="text-white btn-sm md:btn-md lg:btn-md btn no-style min-w-28 md:text-lg lg:text-lg hover:border-transparent" href="{% url 'users:sign_in' %}">登入</a>
            </li>
            <li>
              <a :class="isScrolled ? 'btn-secondary' : 'btn-primary'" class="rounded-full btn btn-secondary lg:btn-primary btn-sm md:btn-md lg:btn-md md:text-lg lg:text-lg min-w-20 md:min-w-24 lg:min-w-24" href="{% url 'users:register' %}">註冊</a>
            </li>
          </ul>
          {% endif %}
        </div>
        <div class="text-base text-white md:text-xl lg:text-xl lg:pl-48">
          <ul class="flex flex-col text-center lg:inline-flex lg:gap-8 lg:flex-row">
            <li>
              <a class="block font-medium py-4 border-b border-[#365f8c] lg:border-0" href="{% url 'companies:index' %}">公司資訊</a>
            </li>
            <li>
              {% if request.user.type == 2 %}
                <a class="block font-medium py-4 border-b border-[#365f8c] lg:border-0" href="{% url 'companies:jobs_index' request.user.company.id %}">職缺</a>
              {% else %}
                <a class="block font-medium py-4 border-b border-[#365f8c] lg:border-0" href="{% url 'jobs:index' %}">職缺</a>
              {% endif %}
            </li>
            <li>
              <a class="block font-medium py-4 border-b border-[#365f8c] lg:border-0" href="{% url 'analytics:index' %}">分析</a>
            </li>
          </ul>
        </div>
        {% if request.user.is_authenticated %}
          <div class="p-4 lg:hidden">
            <form action="{% url 'users:sign_out' %}" method="POST">
              {% csrf_token %}
              <button class="w-full border-0 btn btn-error btn-sm md:btn-lg lg:btn-lg min-w-28 lg:w-auto">登出</button>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
</div>